@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

html, body{
    height: 100vh;
    width: 100vw;
    background-color: black;
}
body{
    background: url(../imagens/fundo-madeira.jpg) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}
main{
    position: relative;
    height: 100vh;
    width: 100%;
}

section#telefone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%) ;
    width: min(320px, 85vw);
    aspect-ratio: 311 / 627;
    background: url(../imagens/frame-iphone.png) no-repeat;
    background-size: 100% 100%;
}

iframe#tela{
    position: relative;
    top: 12.8%;
    left: 7.1% ;
    width: 86.5%;
    height: 75%;
    border: none;
}

section#redes-sociais{
    position: fixed;
    right: 10px;
    bottom: 10px;
    text-align: right;
}
section#redes-sociais img{
    width: 55px;
    height: 55px;
    margin: 8px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    transition: transform .4s, border .4s;
}

section#redes-sociais img:hover{
    border: 2px solid rgba(255, 255, 255, 0.7);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
}

/* -------- RESPONSIVIDADE -------- */

/* TELAS MENORES (celulares pequenos) */
@media (max-width: 400px){
    section#telefone{
        width: 90vw;
    }

    section#redes-sociais img{
        width: 45px;
        height: 45px;
    }
}

/* TELAS GRANDES (monitores grandes) */
@media (min-width: 1200px){
    section#telefone{
        width: 350px;
    }
}
